<%- include('../components/header') %>

<h3>About</h3>
<p>Ini adalah halaman about untuk aplikasi App Express</p>
<p>Copyright &#169; 2021 Lani Asep Sutisna</p>

<%- include('../components/footer') %>