<!-- Modal -->
<div
    class="modal fade"
    id="add-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Karyawan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="/karyawan" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nama"
                            name="nama"
                            placeholder="Enter nama"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Enter password"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="npp">NPP</label>
                        <input
                            type="text"
                            class="form-control"
                            id="npp"
                            placeholder="Masukan NPP"
                            name="npp"
                        ></input>
                    </div>
                    <div class="form-group">
                        <label for="jabatan">Jabatan</label>
                        <input
                            type="text"
                            class="form-control"
                            id="jabatan"
                            placeholder="Masukan jabatan"
                            name="jabatan"
                        ></input>
                    </div>
                    <div class="form-group">
                        <label for="entitas">Entitas</label>
                        <input
                            type="text"
                            class="form-control"
                            id="entitas"
                            placeholder="Masukan entitas"
                            name="entitas"
                        ></input>
                    </div>
                    <div className="form-group">
                        <label htmlFor="alamat">Alamat</label>
                        <textarea
                            type="text"
                            class="form-control"
                            id="alamat"
                            placeholder="Masukan alamat"
                            name="alamat"
                            row="5"
                        ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Tutup
                    </button>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>